body {
    margin: 0;
    background-color: rgb(12, 12, 12);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 700;
    font-size: 72px;
}

button {
    padding: 7px 18px;
    font-size: 18px;
}